<div class="container-fluid  py-2 bg-secondary">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-primary btn-block" (click)="add()">
        <i class="fas fa-plus"></i> Agregar usuario
      </a>
    </div>
  </div>
</div>
<div class="container-fluid col-md-8">
  <div class="row">
    <div class="col">
      <div class="card my-4">
        <div class="card-header">
          <h4>Listado de usuarios</h4>
        </div>
        <div class="card-body">
          <table class="table table-hover table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>#</th>
              <th>Id usuario</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Telefono</th>
              <th>Tipo usuario</th>
              <th></th>
            </thead>
            <tbody>
            <tr *ngFor="let u of users; let i = index">
              <td>{{i+1}}</td>
              <td>{{u.userId}}</td>
              <td>{{u.fullName}}</td>
              <td>{{u.email}}</td>
              <td>{{u.phoneNumber}}</td>
              <td>{{u.userClassification.description}}</td>
              <td>
                <button (click)="editar(u)" class="btn btn-warning">
                  <i class="bi bi-pen"></i> Editar
                </button>&nbsp;
                <button (click)="crearCuenta(u)" class="btn btn-success">
                  <i class="bi bi-plus-circle"></i> Crear cuenta
                </button>&nbsp;
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

