<div class="container-fluid col-md-8">
  <div class="row">
    <div class="col">
      <div class="card my-4">
        <div class="card-header">
          <h4>Tipos de cambio</h4>
        </div>
        <div class="card-body">
          <table class="table table-hover table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>#</th>
              <th>Moneda</th>
              <th>Tipo de cambio</th>
              <th></th>
            </thead>
            <tbody>
            <tr *ngFor="let a of accounts; let i = index;">
              <td>{{i+1}}</td>
              <td>{{a.currency}}</td>
              <td>{{a.exchangeRate}}</td>
              <td>
                <button (click)="changeRate(a)" class="btn btn-primary">
                  <i class="bi bi-pen"></i> Cambiar tipo de cambio
                </button>&nbsp;
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
